/* src/index.css */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.card-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

@media (max-width: 600px) {
  .MuiContainer-root {
    padding: 8px !important;
  }
}